# creating a data frame

In [ ]:
import  pandas as pd

synatx for creating a dataframe



```
df = DataFrame (
    {'First Column Name':  ['First value', 'Second value',...],  # this is the intialization of first column
        'Second Column Name': ['First value', 'Second value',...],     # this is the intialization of first column
         ...  # like the above line of code you can add as many columns and and  assign values to that perticular column
    }
)
```

In [ ]:
df = {
        "Name": ['He', 'She', 'They', 'Them'],
        "Contact number": [0, 1, 2, 3],
        "Address": ['AA','BB','CC', 'DD']
    }

In [ ]:
df

In [ ]:
print(df)

In [ ]:
data = pd.DataFrame(df)
data

In the above data frame you can see that even we have not assigned the index to our dataset but it got created by default. 

Let's assume you if you want to have index in **Alphabets** instead of **Numbers**

In [ ]:
data_1 = pd.DataFrame(df, index = ["a", "b", "c", "d"])
data_1

# How to access data in CSV and Json format

In [ ]:
import json
import requests

if __name__ == "__main__":
  url = "https://data.cityofnewyork.us/api/views/kk4q-3rt2/rows.csv"
  data2 = requests.get(url).text
  print( type(data2))
  print("\n")
  print(data2)

In [ ]:
import json
import requests

if __name__ == "__main__":
  url = "https://data.cityofnewyork.us/api/views/kk4q-3rt2/rows.json"
  data2 = requests.get(url).text
  data3 = json.loads(data2)
  print( type(data2))
  print("\n")
  print(data2)